{
  "env": {
    "node": true
  },
  "rules": {
    // warnings
    "no-debugger": 1,
    "no-empty": 1,
    "no-invalid-regexp": 1,
    "radix": 1,
    "no-warning-comments": 1,
    "no-unused-expressions": 1,
    "no-native-reassign": 1,
    "no-fallthrough": 1,

    // errors
    "no-undef": 2,
    "no-dupe-keys": 2,
    "no-empty-class": 2,
    "no-self-compare": 2,
    "valid-typeof": 2,
    "no-unused-vars": 2,
    "handle-callback-err": 2,
    "no-shadow-restricted-names": 2,

    // stylistic errors
    "new-cap": 2,
    "no-spaced-func": 2,
    "no-space-before-semi": 2,
    "space-unary-word-ops": 2
  }
}